files/
data/
bower_components/
node_modules/
*.pyc
.htaccess
.bower_components.bak
.uvalib-theme.bak
.uvalib-banner.bak
.uvalib-bookplates.bak
.uvalib-page.bak
sitemap.txt
.DS_Store
build/
files-ready/
bamboo_deploy
eleventy/_data/pages.json
.cache
*.bak