RewriteEngine on
RewriteBase /

# disable pwa on wwwstatic
RewriteCond %{HTTP_HOST} !^www\.library\.virginia\.edu
RewriteRule ^manifest.json$ - [F,L]
RewriteCond %{HTTP_HOST} !^www\.library\.virginia\.edu
RewriteRule ^push-manifest.json$ - [F,L]
RewriteCond %{HTTP_HOST} !^www\.library\.virginia\.edu
RewriteRule ^service-worker.js$ - [F,L]
RewriteCond %{HTTP_HOST} !^www\.library\.virginia\.edu
RewriteRule ^/$ - [F,L]
RewriteCond %{HTTP_HOST} !^www\.library\.virginia\.edu
RewriteRule ^/robots.txt$ no-robots.txt [L]


# TODO: make these feeds static and pull from a static server
RewriteCond %{REQUEST_METHOD}  =GET
RewriteCond %{HTTP_USER_AGENT} "AmazonAPIGateway"
RewriteRule "^rawAPI/(.*)$" "https://drupal.lib.virginia.edu/$1" [P]

# Give Bots the non-js version
RewriteCond %{HTTP_USER_AGENT} (bot|agent|spider|crawler|extractor) [NC]
RewriteCond %{HTTP_USER_AGENT} (Googlebot|bingbot|msnbot|facebookexternalhit|Facebot|Twitterbot|Google-Structured-Data-Testing-Tool) [NC]
RewriteCond %{REQUEST_URI} !^/data/pages/.*$
RewriteRule ^(.*)$ data/pages/$1 [L,PT]

### Redirect library.virginia.edu/* to www.library.virginia.edu/*
RewriteCond %{HTTP_HOST} =library.virginia.edu
RewriteRule ^(/.*)$ http://www.library.virginia.edu/$1

RewriteRule ^/givingtohoosday/?$ http://givingtohoosday.virginia.edu/library?appealcode=MGTHALDP
RewriteRule ^/give$ http://giving.virginia.edu/uvalibrary
RewriteRule ^/giving-form/?$ http://giving.virginia.edu/uvalibrary
RewriteRule ^/mcgregor75/?$  http://explore.lib.virginia.edu/exhibits/show/mcgregor75
RewriteRule ^/JFK/?$ http://static.lib.virginia.edu/JFK/
RewriteRule ^/charles_smith$  http://avalon.lib.virginia.edu/media_objects/avalon:1938
RewriteRule ^/civilwarvirginia/?$  http://explore.lib.virginia.edu/exhibits/show/voicesofcivilwarvirginia
RewriteRule ^/libraries/?$   http://static.lib.virginia.edu/directory/libraries.html

Header set Access-Control-Allow-Origin "*"

Redirect /givingtohoosday http://givingtohoosday.virginia.edu/library?appealcode=MGTHALDP
Redirect /staff  http://static.lib.virginia.edu/directory/
Redirect /organization   http://static.lib.virginia.edu/directory/organization.html
Redirect /digitization-guidelines http://guides.lib.virginia.edu/content.php?pid=40437&sid=297543
Redirect /support/ http://static.lib.virginia.edu/campaign/

# Redirects from Amber - redesign Spring 18
Redirect /sitesearch https://www.library.virginia.edu/search
Redirect /libraries https://www.library.virginia.edu/hours
