RewriteEngine on
RewriteBase /

# disable pwa on wwwstatic
RewriteCond %{HTTP_HOST} !^www\.library\.virginia\.edu
RewriteRule ^manifest.json$ - [F,L]
RewriteCond %{HTTP_HOST} !^www\.library\.virginia\.edu
RewriteRule ^push-manifest.json$ - [F,L]
RewriteCond %{HTTP_HOST} !^www\.library\.virginia\.edu
RewriteRule ^service-worker.js$ - [F,L]
RewriteCond %{HTTP_HOST} !^www\.library\.virginia\.edu
RewriteRule ^/$ - [F,L]
RewriteCond %{HTTP_HOST} !^www\.library\.virginia\.edu
RewriteRule ^/robots.txt$ no-robots.txt [L]

# Give Bots the non-js version
RewriteCond %{HTTP_USER_AGENT} (bot|agent|spider|crawler|extractor) [NC]
RewriteCond %{HTTP_USER_AGENT} (Googlebot|bingbot|msnbot|facebookexternalhit|Facebot|Twitterbot|Google-Structured-Data-Testing-Tool) [NC]
RewriteCond %{REQUEST_URI} !^/data/pages/.*$
RewriteRule ^(.*)$ data/pages/$1 [L]

#Proxy this so that we can use http push to pull it in
RewriteRule "^piwik.js$" "https://analytics.lib.virginia.edu/piwik.js" [P]
RewriteRule "^js/controllers/libweb.js$" "https://static.lib.virginia.edu/js/controllers/libweb.js" [P]

RewriteCond %{HTTP_HOST} preservation\.library\.virginia\.edu
RewriteRule ^(.*)$ https://www.library.virginia.edu/preservation  [R,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.html [L]

Header set Access-Control-Allow-Origin "*"
H2PushResource /bower_components/webcomponentsjs/webcomponents-loader.js
H2PushResource /js/load-deps.js
H2PushResource /js/controllers/libweb.js
H2PushResource /src/ce-fix.html
H2PushResource /src/uvalib-app.html
H2PushResource /bower_components/polymer/polymer.html
H2PushResource /src/app-data.html
H2PushResource /bower_components/polymer/polymer-element.html
H2PushResource /bower_components/app-route/app-location.html
H2PushResource /bower_components/app-route/app-route.html
H2PushResource /bower_components/uvalib-theme/uvalib-theme.html
H2PushResource /bower_components/app-layout/helpers/helpers.html
H2PushResource /bower_components/uvalib-header/uvalib-header.html 

Redirect /civilwarvirginia http://explore.lib.virginia.edu/exhibits/show/voicesofcivilwarvirginia
Redirect /digitization-guidelines http://guides.lib.virginia.edu/content.php?pid=40437&sid=297543
Redirect /give https://securelb.imodules.com/s/1535/16-uva/index-gid16.aspx?sid=1535&gid=16&pgid=19305&dids=1391.1394.1393.1392&appealcode=MGTHALDPRE&bledit=1&sort=1&appealcode=MGTHALDPRE&_ga=2.248173825.769738965.1520855359-601156412.1519075621
Redirect /givingtohoosday http://givingtohoosday.virginia.edu/library?appealcode=MGTHALDP
Redirect /libraries https://www.library.virginia.edu/hours
Redirect /organization   http://static.lib.virginia.edu/directory/organization.html
Redirect /site-search https://www.library.virginia.edu/search
Redirect /sitesearch https://www.library.virginia.edu/search
Redirect /staff  http://static.lib.virginia.edu/directory/
Redirect /study-spaces http://uvalibrary.maps.arcgis.com/apps/Shortlist/index.html?appid=e6cb8c4cde61410f873bc780c38bd958
Redirect /support https://www.library.virginia.edu/support-library
