---
permalink: pages.json
---

[
  {# add learning pages to the SPA page tree #}
  {% for lL2Item in learningLevel2 %}
    {
        "title":"{{lL2Item.name}}",
        "time":"",
        "author":"",
        "category":"Pages",
        "id":"{{lL2Item.uuid}}",
        "parentId":"{{lL2Item.parent}}",
        "link":"/services/learning/{{lL2Item.uuid}}/",
        "path":"/services/learning/{{lL2Item.uuid}}/",
        "sidebar":"65685915-3510-4626-a500-0b697d6fd5ee",
        "subnav":"14584a3a-78c5-4512-ba65-6c2524cf3776",
        "imgSrc":"",
        "placeholder":"",
        "summary":"{{lL2Item.description}}",
        "contentLength":"",
        "type":"learning"
    },
  {% endfor %}

  {# pull in the rest of the pages created outside of 11ty #}  
  {% for page in pages %}
    {{ page | JSONstringify | safe }}{{ '' if loop.last else ',' }}
  {% endfor  %}
]