---
layout: basicLearningLayout.njk
pagination:
    data: learningLevel2
    size: 1
    alias: lL2Item
permalink: "pages/services/learning/{{lL2Item.uuid}}/index.html"
eleventyComputed:
    title: "Learning Resources: {{lL2Item.name}}"
---
<style>
.learning-header {
        border-bottom: 2px solid var(--uvalib-grey);
    }
.learning-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    margin-left: 3em;
}
.learning-container div {
    min-width: 150px;
    max-width: 210px;
    margin-top: 2em;
    margin-right: 2em;
}</style>


{% for l1 in learningLevel1 %}
    {% if lL2Item.parent == l1.uuid %}
        <h2>{{ l1.name }}</h2>
        {{ l1.description | safe }}
    {% endif %}
{% endfor %}
<div class="learning-header">
    <h3>{{ lL2Item.name }}</h3>
</div>
<div class="learning-container">
{% for l3 in learningLevel3 %}{% if lL2Item.uuid in l3.tags %}
{% if l3.youtube %}
    <google-youtube fluid video-id="{{ l3.youtube }}"></google-youtube>
    <!-- youtube video id of {{ l3.youtube }} -->
    <!-- youtube thumb is {{ l3.youtubethumb }}  -->
{% endif %}
{% if l3.youtubelist %}
    <google-youtube list="{{ l3.youtubelist }}" list-type="playlist"></google-youtube>
    <!-- youtube playlist id of {{ l3.youtubelist }} -->
    <!-- youtube thumb is {{ l3.youtubethumb }} from the first video in the playlist -->
{% endif %}
<div>
    <h4><a href="{{ l3.learningItemUrl }}">{{ l3.title }}</a></h4>
    {{ l3.body | safe }}
</div>
{% endif %}{% endfor %}
</div>