<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{#noCrawl}}
  <meta name="robots" content="noindex" />
  {{/noCrawl}}
  <title>{{title}}</title>
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{title}}">
  <meta property="og:site_name" content="UVA Library">
  <meta property="og:url" content="https://library.virginia.edu{{path}}">
  <meta property="article:publisher" content="https://library.virginia.edu/">
  <meta name="twitter:url" content="https://library.virginia.edu{{path}}">
  <meta name="twitter:title" content="{{title}}">
  <meta name="twitter:site" content="@uvalibrary">
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@graph": [{
        "@type": "WebPage",
        "mainEntityOfPage": "https://library.virginia.edu{{path}}",
        "headline": "{{title}}",
        "publisher": {
          "@type": "Organization",
          "name": "UVA Library",
          "logo": {
            "@type": "ImageObject",
            "url": "https://library.virginia.edu/images/icon-192.png",
            "width": "192",
            "height": "192"
          }
        }
      },{
          "@type": "WebSite",
          "url": "https://www.library.virginia.edu/",
          "potentialAction": {
            "@type": "SearchAction",
            "target": "https://www.library.virginia.edu/search&q={search_term_string}",
            "query-input": "required name=search_term_string"
          }
        }
      }]
    }
  </script>
  {{#ancestors.length}}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [
        {{#ancestors}}
        {"@type": "ListItem",
         "position": {{idx}},
         "name": "{{title}}",
         "item": "https://www.library.virgina.edu/{{path}}"
        },
        {{/ancestors}}
        {"@type": "ListItem",
         "position": {{crumbIndex}},
         "name": "{{title}}",
         "item": "https://www.library.virgina.edu/{{path}}"
        }
      ]
    }
  </script>
  {{/ancestors.length}}

  {{#iframe}}
  <script src="https://www.library.virginia.edu/bower_components/webcomponentsjs/webcomponents-loader.js"></script>
  <script src="https://www.library.virginia.edu/bower_components/iframe-resizer/js/iframeResizer.contentWindow.min.js"></script>
  <link rel="import" href="https://www.library.virginia.edu/src/uvalib-app.html">
  <script src="https://static.lib.virginia.edu/js/controllers/libweb.js"></script>
  <custom-style><style include="uvalib-theme iron-flex"></style></custom-style>

  {{/iframe}}

  <style>
   img  {width: 75%;}
  </style>

</head>

<body>
  <div class="content">
    {{#template}}<{{{template}}} unresolved>{{/template}}
    {{{body}}}
    {{#template}}</{{{template}}}>{{/template}}
  </div>
</body>

</html>
