<html lang="en">

<head>
  <title>{{title}}</title>
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{title}}">
  <meta property="og:site_name" content="UVA Library">
  <meta property="og:url" content="https://library.virginia.edu{{{path}}}">
  <meta property="article:publisher" content="https://library.virginia.edu/">
  <meta name="twitter:url" content="https://library.virginia.edu{{{path}}}">
  <meta name="twitter:title" content="{{title}}">
  <meta name="twitter:site" content="@uvalibrary">
  <script type="application/ld+json">
    {
        "@type": "WebPage",
        "mainEntityOfPage": "https://library.virginia.edu{{{path}}}",
        "headline": "{{title}}",
        "publisher": {
          "@type": "Organization",
          "name": "UVA Library",
          "logo": {
            "@type": "ImageObject",
            "url": "https://library.virginia.edu/images/icon-192.png",
            "width": "192",
            "height": "192"
          }
        }
      },{
          "@type": "WebSite",
          "url": "https://www.library.virginia.edu/",
          "potentialAction": {
            "@type": "SearchAction",
            "target": "https://www.library.virginia.edu/search&q={search_term_string}",
            "query-input": "required name=search_term_string"
          }
      }]
    }
  </script>
</head>

<body>
  <div class="content">
    <div>
      {{#area}}
      <strong>Area:</strong>
      <a href="/areas/{{area.uuid}}">{{{area.title}}}</a>
      {{/area}}
    </div>
    <div>
      {{#manager}}
      <strong>Team Leader:</strong>
      <a href="/staff/{{manager.computingId}}">{{{manager.displayName}}}</a>
      {{/manager}}
    </div>
    {{#body}}
    <p>{{{body}}}</p>
    {{/body}}
    <h2>Team members:</h2>
    <uvalib-staff-dir team="{{uuid}}"></uvalib-staff-dir>
    <div>
      <a href="/staff" tabindex="-1"><paper-button raised>All Library Staff</paper-button></a>
    </div>
  </div>
</body>

</html>
