<html lang="en">

<head>
  <title>{{title}}</title>
  <link rel="canonical" href="https://library.virginia.edu{{{path}}}" />
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{title}}">
  <meta property="og:site_name" content="UVA Library">
  <meta property="og:url" content="https://library.virginia.edu{{{path}}}">
  <meta property="article:publisher" content="https://library.virginia.edu/">
  <meta name="twitter:url" content="https://library.virginia.edu{{{path}}}">
  <meta name="twitter:title" content="{{title}}">
  <meta name="twitter:site" content="@uvalibrary">
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@graph": [{
        "@type": "Person",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "Charlottesville",
          "addressRegion": "VA",
          "streetAddress": "{{address}}"
        },
        "email": "mailto:{{email}}",
        {{#field_image}}
        "image": "{{{field_image.url}}}",
        {{/field_image}}
        "jobTitle": "{{jobTitle}}",
        "name": "{{displayName}}",
        "telephone": "{{phone}}",
        "url": "https://www.library.virginia.edu/staff/{{computingId}}",
        "sameAs":[
          {{#twitter}}"https://twitter.com/{{{twitter}}}",{{/twitter}}
          {{#linkedin}}"https://www.linkedin.com/in/{{{linkedin}}}"{{/linkedin}}
        ]
      },{
        "@type": "Organization",
        "url": "https://www.library.virginia.edu/",
        "logo": "https://www.library.virginia.edu/images/icon-512.png",
        "contactPoint": [{
          "@type": "ContactPoint",
          "telephone": "+1-434-924-3021",
          "contactType": "customer service"
        }],
        "sameAs":[
          "https://www.instagram.com/uvalibrary/",
          "https://www.facebook.com/University-of-Virginia-Library-136530559704906/",
          "https://twitter.com/UVaLibrary"
        ]
      },{
        "@type": "WebPage",
        "mainEntityOfPage": "https://library.virginia.edu{{{path}}}",
        "headline": "{{title}}",
        "publisher": {
          "@type": "Organization",
          "name": "UVA Library",
          "logo": {
            "@type": "ImageObject",
            "url": "https://library.virginia.edu/images/icon-192.png",
            "width": "192",
            "height": "192"
          }
        }
      },{
          "@type": "WebSite",
          "url": "https://www.library.virginia.edu/",
          "potentialAction": {
            "@type": "SearchAction",
            "target": "https://www.library.virginia.edu/search&q={search_term_string}",
            "query-input": "required name=search_term_string"
          }
      }]
    }
  </script>
</head>

<body>
  <div class="content">
      <div id="staff-bio-container">
        <div class="spacer-row visibleAllButMobile"><!--spacer row--></div>
        <div>
          <div class="bio-quick-details"><!-- right rail fixed 538px -->
            <div class="bio-image">
              <!-- Photo -->
              {{#field_image}}
              <div>
                <iron-image class="round" sizing="cover" src="{{{field_image.url}}}" alt="{{{field_image.alt}}}" position="top"></iron-image>
              </div>
              {{/field_image}}
              <!-- No photo -->
              {{^field_image}}
              <div>
                <iron-image class="round" sizing="cover" src="https://static.lib.virginia.edu/files/no-bio-photo.png" alt="foo"></iron-image>
              </div>
              {{/field_image}}
            </div>
            <div class="display-name">{{displayName}}</div>
            {{#nickName}}
            <h2>{{{nickName}}}</h2>
            {{/nickName}}
            <p class="job-title takeNoticeSize">{{{jobTitle}}}</p>
            <div class="bio-contact-info">
              <p><span class="uvalib-icon-phone"></span>{{{phone}}}</p>
              <p><span class="uvalib-icon-envelope-o"></span><a href="mailto:{{{email}}}">{{{email}}}</a></p>
              <p><span class="uvalib-icon-map-marker"></span><b>Office:</b><br />{{{officeLocation}}}</p>
              <!-- <p><b>Mailing Address:</b><br />
                {{{address}}}<br>
                Charlottesville, VA 22904
              </p> -->
            </div>
            {{#teams}}<div class="bio-department"><h4>Department</h4><p>{{title}}</p></div>{{/teams}}
            {{#languages}}<div class="bio-languages"><h4>Languages</h4><p>{{languages}}</p></div>{{/languages}}
            {{#pronouns}}<div class="bio-pronouns"><h4>Pronouns</h4><p>{{pronouns}}</p></div>{{/pronouns}}
            {{#schedule}}<a href="{{schedule}}" tabindex="-1"><paper-button raised>Schedule a Consultation</paper-button></a>{{/schedule}}
            {{^schedule}}<a href="mailto:{{{email}}}" tabindex="-1"><paper-button raised>Email me</paper-button></a>{{/schedule}}
          </div>
          {{#bioWebLinks}}
          <div class="bio-web-links visibleAllButMobile">
            <h4>Find me on the web</h4>
              {{#site}}
                <a href="{{site}}" class="uvalib-icon-o-globe" aria-label="{{displayName}}'s Personal Website"></a>
              {{/site}}
              {{#twitter}}
                <a href="https://twitter.com/{{{twitter}}}" class="uvalib-icon-twitter-square" aria-label="{{displayName}}'s Twitter Profile"></a>
              {{/twitter}}
              {{#linkedin}}
                <a href="https://www.linkedin.com/in/{{{linkedin}}}" class="uvalib-icon-linkedin-square" aria-label="{{displayName}}'s LinkedIn Profile"></a>
              {{/linkedin}}
              {{#field_orcid_id}}
                <a href="https://orcid.org/{{field_orcid_id}}" class="uvalib-ai-orcid" aria-label="{{displayName}}'s ORCiD Profile"></a>
              {{/field_orcid_id}}
          </div>
          {{/bioWebLinks}}
        </div>
        <div class="bio-full-details visibleAllButMobile">
          {{#body}}
            <div slot="heading"><h3>About</h3></div>
            <div slot="body">{{{body}}}</div>
          {{/body}}

          {{#specialties.0}}
            <div slot="heading"><h3>Subject specialties</h3></div>
            <ul>
              {{#specialties}}<li slot="body">{{#value}}{{value}}{{/value}}{{^value}}{{.}}{{/value}}</li>{{/specialties}}
            </ul>
          {{/specialties.0}}

          {{#askMeAbout.0}}
            <div slot="heading"><h3>Ask me about...</h3></div>
            <ul>
              {{#askMeAbout}}<li slot="body">{{#value}}{{value}}{{/value}}{{^value}}{{.}}{{/value}}</li>{{/askMeAbout}}
            </ul>
          {{/askMeAbout.0}}

          {{#profileOption}} <!-- possible to say profile and/or guides and/or CV? -->
            <div slot="heading"><h3>Professional profile</h3></div>
            <div slot="body">
                {{#guides}}<a href="{{guides}}">My research guides</a><br>{{/guides}}
                {{#cv}}<a href="{{cv}}">My curriculum vitae (CV)</a><br>{{/cv}}
                {{{profile}}}
            </div>
          {{/profileOption}}

          {{#teamOption}}
            <div slot="heading"><h3>About my department</h3></div>
            {{#teams}}
              <div slot="body">{{{body}}}</div>
            {{/teams}}
          {{/teamOption}}
        </div>

        <div class="bio-full-details visibleMobile"> <!--flexible body section-->
          <uva-accordion>
            <uva-accordion-item opened heading-level="2">
              <div slot="heading">About</div>
              <div slot="body">{{{body}}}</div>
            </uva-accordion-item>

            {{#specialties.0}}
            <uva-accordion-item heading-level="2">
              <div slot="heading">Subject specialties</div>
              <div slot="body">
                <ul>
                  {{#specialties}}<li>{{#value}}{{value}}{{/value}}{{^value}}{{.}}{{/value}}</li>{{/specialties}}
                </ul>
              </div>
            </uva-accordion-item>
            {{/specialties.0}}

            {{#askMeAbout.0}}
            <uva-accordion-item heading-level="2">
              <div slot="heading">Ask me about...</div>
              <div slot="body">
                <ul>
                  {{#askMeAbout}}<li>{{#value}}{{value}}{{/value}}{{^value}}{{.}}{{/value}}</li>{{/askMeAbout}}
                </ul>
              </div>
            </uva-accordion-item>
            {{/askMeAbout.0}}

            {{#profileOption}} <!-- possible to say profile and/or guides and/or CV? -->
            <uva-accordion-item heading-level="2">
              <div slot="heading">Professional profile</div>
              <div slot="body">
                  {{#guides}}<a href="{{guides}}">My research guides</a><br>{{/guides}}
                  {{#cv}}<a href="{{cv}}">My curriculum vitae (CV)</a><br>{{/cv}}
                  {{{profile}}}
              </div>
            </uva-accordion-item>
            {{/profileOption}}

            {{#teams}}
            <uva-accordion-item heading-level="2">
              <div slot="heading">About my department</div>
              <div slot="body">{{{body}}}</div>
            </uva-accordion-item>
            {{/teams}}
          </uva-accordion>

        </div>
        {{#bioWebLinks}}
        <div class="bio-web-links visibleMobile">
          <h4>Find me on the web</h4>
            {{#twitter}}
              <a href="https://twitter.com/{{{twitter}}}" class="uvalib-icon-twitter-square"></a>
            {{/twitter}}
            {{#linkedin}}
              <a href="https://www.linkedin.com/in/{{{linkedin}}}" class="uvalib-icon-linkedin-square"></a>
            {{/linkedin}}
            {{#site}}
              <a href="{{site}}" class="uvalib-icon-o-globe"></a>
            {{/site}}
            {{#field_orcid_id}}
              <a href="https://orcid.org/{{field_orcid_id}}">Orcid Id</a>
            {{/field_orcid_id}}
        </div>
        {{/bioWebLinks}}
      </div>
  </div>
</body>

</html>
